<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <packageSources>
    <add key="myget" value="https://www.myget.org/F/visualon/api/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageSourceMapping>
    <!-- https://aka.ms/nuget-package-source-mapping -->
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="VisualOn.CssParser" />
    </packageSource>
    <packageSource key="myget">
      <package pattern="visualon.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
